body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.margen {
  margin: 100px;
}

.tabla {
  width: 100%;
  text-align: left;
}

.tabla td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu {
  background-color: #253a46;
  padding: 20px;
  font-size: 20px;
}

#menu a {
  color: white;
  padding-right: 50px;
}

.center {
  text-align: center;
}

.rojo {
  color: rgb(167, 37, 37);
}